.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4em 0px 9em 0px;
    background-image: url('../../../public/assets/images/PropertiDark.png'),
                    url('../../../public/assets/images/PropertiDark.png');
    background-size: 50%, 70% ; 
    background-repeat: no-repeat, no-repeat;
    background-position: top 1em right 77em, bottom 18em right -30em;
}

.containerDetailProduct{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 2em;
}

.fieldImage{
    width: 50%;  
}

.imageDetail{
    object-fit: cover;
    aspect-ratio: 1.5/1;
    width: 100%;
    border-radius: 10px;
}

.fieldDetailProduct{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.titleProduct{
    margin: 0px;
    font-size: 2em;
    font-weight: 700;
    color: #94B60F;
    letter-spacing: 0.08rem;
}

.stockProduct{
    margin: 0px;
    font-size: 1em;
    color: #fff;
    
}

.stockAmount{
    color: #94B60F;
}

.priceProduct{
    margin: 0px;
    font-size: 1em;
    color: #fff;
}

.priceAmount{
    font-weight: 700 ;
}

.unitUsaha{
    margin: 0px;
    font-size: 1em;
    color: #94B60F;
}

.nameUnitUsaha{
    font-weight: 700;
}

.weightProduct{
    margin: 0px;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
}

.descriptionProduct{
    margin: 0px;
    font-size: 1em;
    color: #fff;
}

.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.cartButton{
    padding: 0.8em 0;
    font-size: 0.9em;
    color: #fff;
    background-color: #94B60F;
    border-radius: 5px;
    border: #081B1C;
    cursor: pointer;
    width: auto;
    font-weight: 700;
}

.cartButton:hover{
    background-color: #D5F06B;
}

@media screen and (max-width: 768px) {
    .containerDetailProduct{
        width: 90%;
    }
}

@media screen and (max-width: 480px){
    .container{
        padding: 2em 0 4em 0;
    }

    .containerDetailProduct{
        width: 90%;
        flex-direction: column;
        gap: 1em;
    }

    .fieldImage{
        width: 100%;
    }

    .fieldDetailProduct { 
        width: 100%;
        gap: 0.5em;
    }

    .titleProduct{
        font-size: 1.6em;
    }
    
    .stockProduct{
        font-size: 0.9em;
    }

    .priceProduct{
        font-size: 0.9em;
    }

    .unitUsaha{
        font-size: 0.9em;
    }

    .descriptionProduct{
        font-size: 0.9em;
    }
}



