.imageProduct{
    width: 98%;
    height: auto;
}

@media screen and (max-width: 935px){
    .imageProduct{
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 480px){
    .imageProduct{
        width: 100%;
        height: auto;
    }
}
