
.imageProduct{
    width: 100%;
    /* width: 100%; */
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 1em;
}

.wrap{
    display: inline-block;
    overflow: hidden;
    /* margin: 0 4em; */
}

@media screen and (max-width: 935px){
    .imageProduct{
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 480px){
    .imageProduct{
        width: 100%;
        height: auto;
    }
}
