.container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

.containerPesantren{
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    width: 75%;
}

.colTentang{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.title{
    font-size:2.2em;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 0.6em;
    text-decoration-color: #94B60F;
    margin: 0;
}

.contentTentang{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.image{
    width: 100%;
    height: auto;
}

.colDescription{
    display: flex;
    flex-direction: column;
}

.description{
    text-indent: 1.5em;
    font-size: 1.1em;
    line-height: 1.7em;
}

.rowVisiMisi{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}

.contentImage{
    width: 45%;
    height: auto;
    
}

.imageViMi{
    border-radius: 1em;
    width: 100%;
    object-fit: cover;
    height: 70%;
}

.colViMi{
    width: 55%;
    height: auto!important;
}

.visiDescription{
    font-size: 1.1em;
}

.ol{
    padding-inline-start: 1.3em;

}

.li{
    font-size: 1.1em;
}

