.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #fff;

}

.containerProfile{
    width: 75%;
    justify-content: center;
    margin-bottom: 4em ;
}

.fieldSekilas{
    height: auto !important;
    margin-bottom: 50px;
    width: 100%;
    background-image: url("../../../public/assets/images/bgProfile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.fieldSekilasEx{
    padding: 80px 0px;
}

.sekilas{
    font-style: normal;
    font-weight: 800;
    font-size: 2.2em;
    margin: 0px;
    margin-bottom:60px ;
    letter-spacing: 0.1rem;
}

.wrapDescSekilas{
    padding: 2.9em 2em;
    width: 50%;
    background: #fff;
    border: 5px solid #94B60F;  
    border-radius: 1em;
    box-shadow: 10px 11px 26px 0px rgba(0, 0, 0, 0.25);

}

.descriptions{
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 180%;
    margin: 0px;
}

.fieldProfileUmkm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    width: auto;

}

.profileUmkm{
    display: flex;
    flex-direction: column;
}

.titleUnit{
    font-weight: 800;
    font-size: 2.2em;
    line-height: 2em;
    margin: 0;
}

.underline{
    width: 100%;
    border: 4px solid #94B60F;
    border-radius: 99px;
}

.containerInformation{
    display: block;
    width: 100%;
    justify-content: center;
}

.profileImage{
    width: 100%;
    height:40%;
}

.wrapInformation{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 3em 0 3em 0;
}

.field1{
    width: 45%;
}

.field2{
    width: 10%;
    display: flex;
    justify-content: center;

}

.field3{
    width: 45%;
}

.columInfo{
    width: 100%;
    margin-bottom: 2.3em;
}

.titleInfo{
    font-weight: 700;
    font-size: 1.7em;
    margin: 0px;
    color: #94B60F;
    margin-bottom: 0.2em;
}

.ul{
    padding-inline-start: 1.6em;
}

.li{
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 0.4em;
}

.ul > .li::marker{
    font-size: 0.7em;
}

.description{
    font-weight: 300;
    font-size: 1.1em;
    margin: 0px;
    letter-spacing: 0.003em;
}

.garisTegak{
    border: 3px solid #94B60F;
    width: 0;
    border-radius: 99px;
}

.containerVisiMisi{
    display: flex;
    flex-direction: row;
    column-gap: 3em;
}

.fieldImage{
    width: 45%;
}

.ImageVisiMisi{
    width: 100%;
    height: auto;
}

.fieldVisiMisi{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.titleSection{
    width: auto;
    
}

.titleVisiMisi{
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-color: #94B60F;
    border-radius: 1em;
    margin-bottom: 0.3em ;
}

.descriptionVisi{
    font-size: 1.1em;
    font-weight: 100;
}

.ol{
    padding-inline-start: 1em;
    margin: 0;
}

.list{
    font-size: 1.1em;
}

@media screen and (max-width: 768px){
    .containerProfile{
        width: 90%;
    }

    .fieldSekilas{
        margin-bottom: 5em;
        background-size: 60%;
        background-position: top right;
        top: 0;
    }

    .fieldSekilasEx{
        padding: 4em 0 0 0;

    }

    .sekilas{
        font-size: 1.8em;
        margin:1em 0; 
    }

    .wrapDescSekilas{
        padding: 2.5em;
        width: 60%;
        margin-top: 3em;
    }

    .descriptions{
        font-size: 1em;

    }

    .fieldProfileUmkm{
        align-items: center;
        margin: 0  0 1.5em 0;
    }

    .titleUnit{
        font-size: 0.9em;
    }

    .profileUmkm{
        font-size: 34px;
        margin-top: 0px;
        align-items: center;
        line-height: 2.5rem;
    }

    .underline{
        border: 3px solid #94B60F;
    }

    .containerInformation{
        margin: 0 0 5em 0;
    }

    .titleInfo{
        font-size: 1.3em;
    }

    .description{
        font-size: 0.9em;
    }

    .listUnitUsaha{
        font-size: 0.9em;
    }

    .containerVisiMisi{
        column-gap: 1.8em;
    }

    .ImageVisiMisi{
        width: 100%;
    }

    .fieldVisiMisi{
        row-gap: 1.5em;
    }

    .ul{
        margin: 0;
    }

    .titleVisiMisi{
        font-size: 1.9em;
    }

    .descriptionVisi{
        font-size: 0.9em;
    }

    .list{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 480px){
    .container{
        background-image: url('../../../public/assets/images/PropertiLight.png'),
        url('../../../public/assets/images/PropertiLight.png');
        background-size: 80%, 60% ; 
        background-repeat: no-repeat, no-repeat;
        background-position: top -10em left -10em, bottom right -9em;
    }

    .containerProfile{
        width: 90%;
        margin: 2em 0;
        
    }

    .fieldSekilas{
        margin-bottom: 3em;
        background-image: none;
        margin-bottom:3em ;
    }

    .fieldSekilasEx{
        padding: 0;
    }

    .sekilas{
        font-size: 1.6em;
        margin: 1em 0px;
    }

    .wrapDescSekilas{
        margin: 0;
        padding: 15px;
        width: auto;
        background: #fefefe;
        border: 4px solid #94B60F;  
    }

    .descriptions{
        font-size: 0.8em;
        padding: 0.8em;
    }

    .fieldProfileUmkm{
        margin: 1em 0 ;
    }

    .profileUmkm{
        font-size: 1.8em;
        letter-spacing: 0.04em;
        margin-top: 0px;
    }

    .underline{
        width: 100%;
        border: 3px solid #94B60F;
    }

    .containerInformation{
        margin-bottom: 3em;
    }

    .wrapInformation{
        margin: 30px 0px;
    }

    .field1{
        width: 46%;
    }
    
    .field2{
        width: 8%;
    }
    
    .field3{
        width: 46%;
    }

    .garisTegak{
        border: 2px solid #94B60F;
        width: 0;
        border-radius: 99px;
    }

    .titleInfo{
        font-size: 1.2em;
    }

    .description{
        font-size: 0.8em;
    }

    .listUnitUsaha{
        font-size: 0.8em;
    }

    .fieldVisiMisi{
        width: 100%;
    }

    .titleVisiMisi{
        font-size: 1.4em;
    }

    .fieldImage{
        display: none;
    }

    .descriptionVisi{
        font-size: 0.8em;
    }

    .list{
        font-size: 0.8em;
    }
}