.container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    background-image: url('../../../public/assets/images/PropertiLight.png'),
    url('../../../public/assets/images/PropertiLight.png'),
    url('../../../public/assets/images/PropertiLight.png'),
    url('../../../public/assets/images/PropertiLight.png');
    background-size: 40%, 50%, 55%, 50%; 
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:top -25em left -6em, right -23em top 0em, left -20em top 32em, right -25em bottom -10em;
}

.containerYayasan{
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    row-gap: 3em;
    margin: 3em 0 6em 0;
}

.colTentangYayasan{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.title{
    font-size:2.2em;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 0.6em;
    text-decoration-color: #94B60F;
    margin: 0;
}

.colDescription{
    display: flex;
    flex-direction: column;
    /* row-gap: 0.5em; */
}

.description{
    text-indent: 1.5em;
    font-size: 1.1em;
    line-height: 1.7em;
}

.colVisiMisi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colDetailVisiMisi{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.descriptionVisi{
    font-size: 1.1em;
    text-align: justify;
}

.ol{
    padding-inline-start: 1.3em;
}

.li{
    font-size: 1.1em;
    text-align: justify;
}   

.colTeamYayasan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3.5em;
    width: 100% ;
}

.rowProfile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.wrapProfile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 0 1em; */
    width: auto ;
    height: auto;
    row-gap: 1em;
    align-items: center;
}

.Image{
    width: 70%;
}

.ImageTeamProfile{
    width: 100%;   
    height: 100%;
}

.identitas{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.name{
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.as{
    font-size: 0.8em;
    margin: 0;
    text-align: center;

}

.ImageYas{
    width: 100%;
    display: flex;
    justify-content: center;
}

.yayasanImage{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (max-width: 768px){
    .containerYayasan{
        width: 90%;
    }

    .title{
        font-size: 1.8em;
    }

    .description{
        font-size: 1em;
    }

    .colVisiMisi{       
        gap: 3em;
    }

    .ImageYas{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .yayasanImage{
        width: 100%;
        height: auto;
    }

    .descriptionVisi{
        font-size: 1em;
    }

    .li{
        font-size: 1em;
    }

    .name{
        font-size: 1em;
    }

    .as{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 480px){
    .containerYayasan{
        width: 90%;
    }

    .title{
        font-size: 1.6em;
    }

    .description{
        font-size: 0.9em;
    }

    .descriptionVisi{
        font-size: 0.9em;
    }

    .li{
        font-size: 0.9em
    }

    .rowProfile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2em;
    }

    .Image{
        width: 60%;
    }

    .identitas{
        gap: 0.3em;
    }
}