.footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 50px 0px;
    /* margin: 0px 250px; */
}   

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    margin-right: 100px;
    color: #fff;
}

.logoBrand{
    width: 380px;
    height: 131px;
    left: 0px;
    top: 72px;
}

.title{
    color: #94B60F;
}

.identitas {
    line-height: 20px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 50px;
}
.column:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

.sosmed {
    line-height: 20px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 50px; 
    color: #94B60F;
}

.sosmedIcon{
    display: flex;
    flex-direction: row;
    gap: 18px;

}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
}

.icon:hover{
    color: #94B60F;
    transition: 0.55s;
}

.copyright{
    color: #fff;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    margin: 0px 200px;
}

@media screen and (max-width: 480px){

    .columns {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: start;
    row-gap: 30px;
    padding-left: 20px;
    margin: 30px 0px;
    }

    .column {
    margin-right: 0px;
    color: #fff;
    }

    .identitas {
    margin-bottom: 30px;
    }

    .identitas:nth-child(3){
        margin-bottom: 0px;
    }

    .logoBrand{
        justify-content: start;
        width: 300px;
        height: 91px;
        left: 0px;
        top: 72px;
    }
}