.sliderKatalog{
    height: 250px;
    aspect-ratio: 3/2;
}

.sliderKatalog img{
    width: 100%;
    height: 100%;
}

.sliderKatalog .slick-dots li.slick-active button:before{
    color: #94B60F;
}

.sliderKatalog li{
    margin: 0;
}

.sliderKatalog > .slick-list{
    border-radius: 1em;
}
