.card{
    /* margin:1em; */
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 1.25em;
    display: flex;
    height: 100%;
    flex-direction: column; 
    overflow: hidden;
}
.imageCarousel{
    height: auto;
}

.image{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3/2;
} 

.caption{
    padding: 6px 25px 30px 25px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6em;
    height: auto;
}

.kategoriProduct{
    font-size: 0.6em;
    font-weight: 500;
    color: #999999;
    letter-spacing: 0.25em;
    margin: 0px;
    line-height: 20px;
}

.titleCard{
    color: #94B60F;
    font-size: 1em;
    margin: 0px;
    font-weight: 700;
    line-height: 22px;
}

.descriptionCard{
    font-size: 0.6em;
    margin: 0px;
    line-height: 2em;
    /* margin-bottom: 9px; */
}

.price{
    font-size: 0.6em ;
    color: #303030;
    margin: 0px;
    line-height: 14px;
}

.nominal{
    font-weight: 700;
}

.directButton{
    margin-top: auto;
    margin-bottom:0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.detil{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 0.7em;
    border-radius: 0.5em;
    border-color: #fff;
    padding: 0.4em;
    cursor: pointer;
}

.cart{
    background-color: #000;
    color: #fff;
    padding: 0.4em;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
    border-color: #fff;
}



@media screen and (max-width: 768px){
    .titleCard{
        font-size: 0.7em;
    }
    
    .caption{
        padding: 0.8em;
        padding-top: 0;
        gap: 0.4em;
    }

    .kategoriProduct {
        font-size: 0.5em;
    }

    .detil {
        font-size: 0.6em;
    }

    .descriptionCard {
        -webkit-line-clamp: 4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}

@media screen and (max-width: 480px){
    .card{
        border-radius: 0.5em;
    }

    .titleCard{
        font-size: 0.8em;
    }

    .descriptionCard {
        line-height: 1.6em;
    }
}