.container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2.5em 0px;
    background-color: #fff;
    background-image: url('../../../public/assets/images/PropertiLight.png'),
    url('../../../public/assets/images/PropertiLight.png');
    background-size: 40%, 40%;
    background-repeat: no-repeat;
    background-position: left -10em top 4em, top -17em right -20em;
}

.containerCart{
    width: 75%;
}

.title{
    font-size: 2.5em;
    color: #94B60F;
    margin: 0;
}

.topCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.7em 0px;
}

.pilih{
    display: flex;
    gap: 1.6em;
    align-items: center;
}

.input{
    width: 1.8em;
}

.textPilih{
    font-size: 1em;
    color: #94B60F;
    margin: 0px;
}

.buttonHapus{
    font-size: 1em;
    font-weight: 400;
    background-color: #ffffff;
    border: none;
    color: #94B60F;
    cursor: pointer;
}

.garis{
    border-bottom: 0.17em solid #94B60F;
}

.mainCart{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 2em 0;
}

.fieldList{
    display: flex;
    width: 63%;
    flex-direction: column;
    gap: 10px;
}

.fieldListProduct{
    display: flex;
    flex-direction: row;
    gap: 1em;

}

.inputt{
    width: 2em;
}

.inputt:checked{
    border-color: #94B60F;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 1em;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 7px;
    padding: 1em 1em 0 1em ;
}

.image{
    width: 40%;
}

.image .imageCart{
    width: 91%;
    height: auto;
}

.detailProductCart{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.link{
    text-decoration: none;
}

.titleProduct:hover{
    color: #94B60F;
}

.titleProduct{
    color:#081B1C ;
    font-size: 1.3em;
    font-weight: 700;
    margin: 0px;
    letter-spacing: 0.08rem;
}

.remaining{
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 0.4em;
    font-size: 1em;
}

.remainingCheck{
    font-size: 0.9em;
    color: red;
    margin: 0px;
}

.price{
    margin: 0px;
    color: #081B1C;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.08rem;
}

.detailSetProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6.5em;
}

.hapus{
    width: 1.5em;
    height: 1.5em;
}

.setAmount{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.tambah{
    border: 3.11111px solid #CDCDCD;
    border-radius: 100%;
    padding:0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: #fff;
    font-size: 1.5em;
    color: #CDCDCD;
    transition: 0.2s;
    /* display: flex;
    align-items: center; */
}

.tambah:hover{
    border-color: #94B60F;
    color: #94B60F;
}

.amount{
    color: #081B1C;
    font-size: 1.8em;
    font-weight: 300;
}

.kurang{
    border: 3.11111px solid #CDCDCD;
    border-radius: 100%;
    padding:0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #fff;
    font-size: 1.5em;
    color: #CDCDCD;
    transition: 0.2s;
}

.kurang:hover{
    border-color: #94B60F;
    color: #94B60F;
}

.ringkasanBelanja{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 7px;
    padding: 20px;
    gap: 3.4em;
    width: 38%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.descRingkasan {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.titleRingkasan{
    color: #081B1C;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.08rem;
    margin: 0px;
}

.detailPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textTotal{
    color: #081B1C;
    font-size: 1em;
    letter-spacing: 0.09rem;
    font-weight: 700;
}

.total{
    font-size: 1em;
    letter-spacing: 0.09rem;
    font-weight: 700;
    color: #94B60F;
}

.buttonBuy{
    color: #fff;
    background-color: #94B60F;
    cursor: pointer;
}

.buttonBuy:hover{
    background-color: #D5F06B;
}

.container {
    display: flex;
    justify-content: center;
    width:100% ;
    height: auto;
}

.containerBase{
    display: flex;
    justify-content: center;
    width: 75%;
    flex-direction: column;
    margin: 3.2em 0;
}

.banner{
    background: url(../../../public/assets/images/Banner2.png);
    background-size: 100% ;
    background-repeat: no-repeat;
    width: 100%;
    height: 30em;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.span{
    color:#94B60F ;
}

.containerKatalog{
    display: flex;
    margin: 2em 0;
}

.ul{
    display: flex;
    padding: 0px;
    gap: 30px;
}

.ul .li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.08em;
}

.a:hover{
    color: #94B60F;
}

