.CardArea:hover .hoverContent{
    opacity: 1;
}

.CardArea{
    position: relative;
    overflow: hidden;
    width: 26em;
    height: 16em;
    border-radius: 0.4em;
}

.image{
    position: relative;
    overflow: hidden;
    width: 100%;
    /* object-fit: cover; */
}