.CardArea:hover .hoverContent{
    opacity: 1;
}

.CardArea{
    position: relative;
    overflow: hidden;
    width: 26em;
    height: 16em;
    border-radius: 0.4em;
}

.image{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .CardArea{
        width: 23em;
        height:13em ;
    }
}

@media screen and (max-width: 480px) {
    .CardArea{
        width: 24em;
        height:14em ;
    }
}