.container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    border-radius: 100px 100px 0px 0px;
    padding: 40px 0 0 0;
}

.containerCategory{
    width: 75%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textCategory{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    gap: 10px;
    width: auto ;
    height: 177px;
    padding: 0 28% ;
}

.titleCategory{
    font-size: 33px;
    font-weight: 700;
    font-style: normal;
    color: #94B60F;
    margin: 0;
}

.descriptionTitle{
    color:#303030 ;
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.containerKatalog{
    width: 100%;
    margin: 2em 0px 7em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 40px;
}

.link{
    text-decoration: none;
}

.katalogWrapper{
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.katalogWrapper:hover{
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.15);
}

.imageKatalog{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-bottom: 15px;
    width:100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.titleKatalog{
    margin: 1em;
    font-size: 16px;
    margin-bottom: 10px;
}

.descriptionKatalog{
    font-size: 10px;
    margin: 0;
    text-align: center;
    margin: 0px 2em 1.7em 2em;
    line-height: 1.9em;
}

@media screen and (max-width: 768px){
    .container{
        padding: 0 0 1em 0;
    }

    .containerCategory{
        width: 90%;
        padding: 0;
    }

    .textCategory{
        padding: 0 17%;
    }
    .titleCategory{
        font-size: 1.8em;
    }

    .descriptionTitle{
        font-size: 1em;
    }

    .containerKatalog{
        gap: 2em;
        margin: 0 0 1em 0;
        display: grid;
        grid-template-columns: 1fr 1fr !important;
    }

    .imageKatalog{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container{
        border-radius: 3.5em 3.5em 0  0;
        padding: 0 0 2.3em 0;
    }

    .containerCategory{
        padding: 0;
        width: 85%;
    }

    
    .textCategory{
        padding: 0 3%;
    }

    .titleCategory{
        font-size: 1.4em;
    }

    .descriptionTitle{
        font-size: 0.8em;
        padding: 0 2.4em;
    }

    .containerKatalog{
        /* width: 80%; */
        display: grid;
        grid-template-columns: 1fr !important;
    }
    
    .katalogWrapper{
        width: 100%;
        border-radius: 2em;
    }

    .imageKatalog{
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        margin-bottom: 13px;
        width:100%
    }

    .titleKatalog{
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .descriptionKatalog{
        font-size: 9px;
        margin: 0;
        text-align: center;
        margin: 0px 35px 15px 35px;
        line-height: 2em;
    }
}