.container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 6em;
}

.containerUsaha{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: auto;
    margin-top: 2.7em;
}

.titleUnitUsaha{
    color: #94B60F;     
    font-style: normal;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 2.2em;
    margin: 0 0 1em 0;
}

.containerCard{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 40px;
}

.link{
    text-decoration: none;
}

.cardUsaha{
    display: flex;
    background-color: #fff;
    width: 31em;
    height: 22em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 1.3em 1.2em;
    flex-direction: column;
    gap: 3px;
}

.image{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.titleCard{
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.09em;
    line-height: 32px;
    color: #94B60F;
    margin: 0px;
    margin-bottom: 8px;
}

.cardDescription{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #303030;
    margin: 0px;
    margin-bottom: 14px;
}

@media screen and (max-width: 768px){
    .containerUsaha{
        width: 90%;
    }

    .titleUnitUsaha{
        font-size:2em ;
        margin-bottom: 0.6em;
    }

    .containerCard{
        /* width: ; */
        gap: 1.5em;
    }

    .cardUsaha{
        width: 18em;
        height: auto;
        padding: 0.9em 0.9em;
    }

    .image{
        margin: 0;
    }

    .titleCard{
        font-size: 1em ;
        margin: 0;
    }

    .cardDescription{
        font-size: 0.6em;
        line-height: 1.7em;
        margin: 0;
    }
}

@media screen and (max-width: 480px){
    .containerUsaha{
        width: 85%;
    }

    .titleUnitUsaha{
        font-size: 1.6em;
    }

    .cardUsaha{
        width: 19.5em;
    }
    
    .cardDescription{
        font-size: 0.65em;
    }
}