.container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5em 0px;
    background-image: url('../../public/assets/images/PropertiDark.png'),
                    url('../../public/assets/images/PropertiDark.png');
    background-size: 50%, 60% ; 
    background-repeat: no-repeat, no-repeat;
    background-position: top 1em right 77em, bottom 9em right -27em;
}

.hero{
    display: flex;
    width: 75%;
}

.content{
    width:50%;
    color:#fff;
    padding-right: 3.9rem;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.titleHero{
    font-size: 33px;
    font-weight: 800;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 0.07em;
    margin: 0;
}

.description{
    font-style: normal;
    font-weight: 300;           
    font-size: 1.1em;
    line-height: 34px;

}
/* 
.button{
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    width: 30%;
    background-color: #94B60F;
    color: #fff;
    border: none;
    border-radius:5px;
    padding: 15px 30px;
    cursor: pointer;
    letter-spacing: 0.03rem;
} */

.button:hover{
    background-color: #D5F06B;
}

.contentImage{
    width: 50%;
}

.imageProduct{
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 935px){
    .container{
        padding:  0;
    }
    
    .hero {
        margin: 2.5em;
        display: flex ;
        row-gap: 2em;
        justify-content: column;
        flex-direction: column-reverse;
        padding: 0;
        width: 90%;
    }

    .content{
        width: 100%;
        padding: 0;
        row-gap: 0.6em;
    }

    .titleHero{
        font-size: 2.2em;
        line-height: 1.4em;
        letter-spacing: 0.04em;
    }

    .description{         
        font-size: 1em;
        line-height: 2em;
        margin: 0.6em 0;
    }

    .contentImage
    {
        width: 100%;
    }

    .imageProduct{     
        width: 100%;
        height:100%;
    }

    .button{
        font-size: 0.8em;
        padding: 1em 2em;
    }

    
}


@media screen and (max-width: 480px){ 
    .container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 3em 0em;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px 0px;
        row-gap: 2em;
        padding: 0;
        width: 90%;
    }

    .content{
        width:100%;
        color:#fff;
        padding: 0px;
        gap: 1.2em;
    }

    .titleHero{
        font-size: 1.6em;
        line-height: 1.5em;
        margin-bottom: 0 ;

    }

    .description{
        font-style: normal;
        font-weight: 400;
        font-size: 0.8em;
        line-height: 180%;
        margin: 0;
    }


    .contentImage{
        width: 100%;
    }

    .imageProduct{
        width: 98%;
        height: 98%;
    }

    .button{
        font-size: 0.7em;
        font-weight: 300;
        padding: 1em 2em;
    }

}

