.imageProduct{
    width: 100%;
    height: auto;
}

.slick-slide {
    position: relative;
    margin: 0 0px;
    padding: 0;
}

/* the parent */
.slick-list {
    margin: 0 -20px; 
}


.slick-dots{
    position: absolute;
    right: 0;
    top: 80%;
    margin: 0px 3px;
    padding: 11% 1% 11% 1.5%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots > li{
    margin: 0 0.4rem;
}

.slick-dots li > button{
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    padding: 0;   
    border: none;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    /* text-indent: -9999px; */
}

.slick-dots > li.slick-active button{
    /* background-color: #081B1C; */
    /* width: 1.3rem;
    border-radius: 10px; */
    transition: 0.4s;
}
