.container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    background-image: url('../../../public/assets/images/PropertiLight.png'),
    url('../../../public/assets/images/PropertiLight.png'),
    url('../../../public/assets/images/PropertiLight.png');
    background-size: 40%, 50%, 60%;
    background-repeat: no-repeat;
    background-position: left -10em top -24em, top 0em right -26em, left -10em bottom -16em;
}

.containerBeranda{
    display: flex;
    width: 75%;
    justify-content: center;
    margin: 4em 0 5em 0;
}

.wrapForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 5px solid #94B60F;
    background-color: #fff;
    column-gap: 3em;
    padding: 1em 2em 0em 2em;
    border-radius: 1em; 
}

.row1{

    width: 50%;
}

.row2{
    padding: 2.6em 0 2em 0;
    width: 50%;
}

.title{
    font-size: 2.4em;
    font-weight: 700;
    color: #081B1C;
    margin: 0;
    letter-spacing: 0.06em;
    margin-bottom: 0.4em;
}

.map{
    width: 100%;
    height: 65%;
}

.titleContact{
    font-size: 1.3em;
    color: #94B60F;
    font-weight: 700;
    letter-spacing: 0.08rem;
    margin: 0;
}

.hr{
    margin: 0;
}

.contactDetail > p {
    color: #000;
    font-size: 0.8em;
}

.formInput{
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    margin-top: 2em;
}

.input{
    color: #303030;
    font-size: 1em; 
    padding: 0.9em;
    border-radius: 10px;
    border: 1.38835px solid #CDCDCD;
}

.Button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

}

.batal{
    font-size: 15px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kirim{
    font-size: 17px;
    padding: 10px 20px;
    background-color: #94B60F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.kirim:hover{
    background-color: #D5F06B;
}

@media screen and (max-width: 768px){
    .containerBeranda {
        width: 90%;
    }

    .wrapForm{
        flex-direction: column;
        row-gap: 2em;
        padding: 1em 1.5em ;
    }

    .row1, .row2{
        width: 100%;
        padding: 0;
    }

    .map{
        height: 25em;
    }

    .title{
        font-size: 2em;
    }
}

@media screen and (max-width: 480px){
    .containerBeranda{
        width: 90%;
        margin: 2em 0;
    }

    .wrapForm{
        border: 4px solid #94B60F;
        padding: 1em;
    }

    .title{
        font-size: 1.6em;
        margin-bottom: 0.6em;
        letter-spacing: 0.02em;
        /* text-align: center; */
    }

    .titleContact{
        font-size: 1.2em;
    }

    .contactDetail{
        font-size: 0.9em;
    }

    .formInput{
        margin-top: 1em;
        gap: 1em;
    }
}